.reveal i {
    font-family: 'FontAwesome';
    font-style: normal;
}

.reveal li {
    padding-top: 20px;
    letter-spacing: normal;
}

.reveal h1 span.thank {
    line-height: 1.2em;
}

.no-uppercase {
    text-transform:none!important;
}

.mongolab-logo::before, .mongolab-logo::after {
    content: "";
    padding: 50px;
}

.mongolab-logo::before {
    background: url("../images/mongolab_logo.png") no-repeat center;
}

.lab {  
    color: #f7c121;
    text-shadow: 0 1px 0 #c48000, 
                 0 2px 0 #c18000, 
                 0 3px 0 #b37000,
                 0 4px 0 #b17000,
                 0 5px 0 #a26000,
                 0 6px 1px rgba(0, 0, 0, 0.1),
                 0 0 5px rgba(0, 0, 0, 0.1),
                 0 1px 3px rgba(0, 0, 0, 0.3),
                 0 3px 5px rgba(0, 0, 0, 0.2),
                 0 5px 10px rgba(0, 0, 0, 0.25),
                 0 20px 20px rgba(0, 0, 0, 0.15);
}

.db {
    color: #ecd898;
    text-shadow: 0 1px 0 #b9a565, 
                 0 2px 0 #b6a262, 
                 0 3px 0 #a89454,
                 0 4px 0 #a69252,
                 0 5px 0 #978343,
                 0 6px 1px rgba(0, 0, 0, 0.1),
                 0 0 5px rgba(0, 0, 0, 0.1),
                 0 1px 3px rgba(0, 0, 0, 0.3),
                 0 3px 5px rgba(0, 0, 0, 0.2),
                 0 5px 10px rgba(0, 0, 0, 0.25),
                 0 20px 20px rgba(0, 0, 0, 0.15);
}

.no {
    color: #f00000;
    text-shadow: 0 1px 0 #c00000, 
                 0 2px 0 #b80000, 
                 0 3px 0 #b00000,
                 0 4px 0 #a80000,
                 0 5px 0 #a00000,
                 0 6px 1px rgba(0, 0, 0, 0.1),
                 0 0 5px rgba(0, 0, 0, 0.1),
                 0 1px 3px rgba(0, 0, 0, 0.3),
                 0 3px 5px rgba(0, 0, 0, 0.2),
                 0 5px 10px rgba(0, 0, 0, 0.25),
                 0 20px 20px rgba(0, 0, 0, 0.15);
}

h4.no-uppercase {
    margin: 40px 0 0 0;
}

small.more-padding-top {
    padding-top: 30px;
}

.reveal .slide-background.present {
    opacity: 0.5;
}

.reveal section img.inserted
{
    background: none;
    border: none;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

a.mongodb-sevice {
    padding-left: 10px;
}

.reveal section li.nostyle {
    list-style: none;
}
